<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokemones.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PokemonesApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <!-- Actividad principal -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades del flujo CRUD -->
        <activity android:name=".AddPokemonActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UpdatePokemonActivity" />
        <activity android:name=".DeletePokemonActivity" />
        <activity android:name=".SelectPokemonToUpdateActivity" />

    </application>

</manifest>
